<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<form method="Post" action="/login">

      <label>Email</label>
      <input type=email name="email">
      <label>Password</label>
      <input type=password name="password">
      <input type="submit" value="Log In">

    </form>
</body>
</html>
