
</!DOCTYPE html>
<html>
<head>
  <title>Registration Page</title>
</head>
<body>
 <form method="POST" action="/register">
    <p>
      <label>Email</label>
      <input type=email name="email">
      <label>Password</label>
      <input type=password name="password">
      <input type="submit" value="Sign Up">
    </p>
</form>
</body>
</html>