<html lang="en">
<head>
<title>Tiny App</title>
</head>
<body>
<%- include('partials/_header') %>
<p>
<h3>
 <%= shortURL %> : <%= longURL %>
</h3>
<form method="POST" action="/urls/<%= shortURL %>" style="margin:150px;">
  <label for="longURL">Update</label>
  <input type="text" id ="longURL" name="longURL" style="width: 300px">
  <input type="submit" value="Update">
</form>
</p>
</body>
</html>