  <header>
  <a href = "http://localhost:8080/urls"> <b> Tiny App </b> </a>
  </header>
    <% if (user) { %>
    <%= user.email %>
    <form method="POST" action= "/logout">
      <input type="submit" value="Logout">
     </form>
  <% } else { %>
  <a href = "http://localhost:8080/register"> Register </a>


  <a href = "http://localhost:8080/login"> Login </a>
  <% } %>


